<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171582038319-o18hfv7ibredeqb9ua2e896pepuvkve6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171582038319-o18hfv7ibredeqb9ua2e896pepuvkve6</string>
	<key>API_KEY</key>
	<string>AIzaSyDxcKIT_cEjQPXYZ17JgYZlsHw8mDFQWyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>171582038319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petbreeze.petbreeze</string>
	<key>PROJECT_ID</key>
	<string>petbreeze-8469e</string>
	<key>STORAGE_BUCKET</key>
	<string>petbreeze-8469e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171582038319:ios:a2eef5d0e090500e8281da</string>
</dict>
</plist>